<div *ngIf="product.title" class="card">
  <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="{{ product.title }}">
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <p class="card-text">{{ product.price | currency:'USD':true }}</p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <button 
      (click)="addToCart(product)"
      class="btn btn-primary btn-block">Add to Cart</button>
    <div>{{ getQuantity() }}</div>
  </div>
</div>    
