<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.totalItemsCount }} items in your shopping cart. 
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          {{ item.title }}
        </td>
        <td>
          <product-quantity [product]="item" [shopping-cart]="cart">
          </product-quantity>
        </td>
        <td>
          {{ item.totalPrice | currency:'USD':true }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th>{{ cart.totalPrice | currency:'USD':true }}</th>
      </tr>
    </tfoot> 
  </table>
</ng-container>
