
<div class="row">
  <ng-container *ngFor="let p of products$ | async; let i = index">
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" [src]="p.imageUrl" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{ p.title }}</h4>
          <p class="card-text">{{ p.price | currency:'USD':true }}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>    
    </div>
    <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
  </ng-container>
</div>

